.row#aboutContent
  .row
    .three.columns
      %img{ src: "http://flickholdr.com/237/300/man/4", alt:"#" }
    .four.columns
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor 
    .five.columns
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud 
      %ul{ class: "" }
        %li exercitation ullamco l
        %li aboris nisi ut aliquip
        %li ex ea commodo
        %li consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        %li cillum dolore eu fugiat
        %li nulla pariatur. Excepteur sint occaecat cupidatat non
        %li proident, sunt in culpa
        %li qui officia deserunt mollit anim id est laborum.

