.row
  %h2= link_to "Invitations (#{current_user.invitation_requests.where(status: "expectant").count})", invitations_path

  %hr

  %aside.four.columns
    %h4 Opening data
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a magna vitae nunc tempor rhoncus. Phasellus tempor risus at metus iaculis ultricies. Ut sagittis mauris in urna laoreet pellentesque. Ut quis accumsan nunc.
    %h4 Popup
    %a.button{"data-reveal-id" => "exampleModal", :href => "#"} Example
    #exampleModal.reveal-modal
      %h2 This is popup.
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu mauris sit amet leo tincidunt mattis id eu mi. Maecenas felis elit, vehicula quis porttitor sagittis, laoreet vel mauris. Donec ac nunc orci, sit amet consequat quam. Pellentesque rhoncus, mi ut blandit blandit, lectus velit sagittis ipsum, ac congue tellus velit at sem. Maecenas dapibus lorem erat, in posuere nisl. Mauris sit amet mi enim, at dictum sapien. Cras nec neque non felis condimentum volutpat. Duis erat ligula, lobortis ut tincidunt vitae, tristique ut augue. Donec feugiat nibh non lorem fringilla ornare. Maecenas lacus lectus, pretium et interdum tempus, lobortis in est. Donec ornare libero et felis dapibus feugiat.
        %img{:src => "http://placehold.it/200x250"}/
      %a.close-reveal-modal X
  .eight.columns
    %h4 Postępy
    .row
      .twelve.columns
        %h5 NAME SURNAME
        %img{:src => "http://placehold.it/623x150"}/
        %p
          %small Chart
      .twelve.columns
        %h5 NAME SURNAME
        %img{:src => "http://placehold.it/623x150"}/
        %p
          %small Chart
      .twelve.columns
        %h5 NAME SURNAME
        %img{:src => "http://placehold.it/623x150"}/
        %p
          %small Chart

