.row
  #loginForm.twelve.columns.whitebg
    = render "shared/notice"
    %h2 Complete registration
    %p Hi! Thanks for registration. You can update here information about you. Enjoy!

    = render 'shared/user_information', url: complete_user_path