.row
  .six.columns
    %h1 Friends
    %ul
      - @contacts.each do |contact|
        %li= link_to contact.player.name, player_path(contact.player)

  .six.columns
    %h1 Players
    %ul
      - @contacts.each do |contact|
        %li= link_to contact.player.name, player_path(contact.player)