defaults: &defaults
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: coach-app
  password:

development:
  database: coach-app_development
  <<: *defaults

test:
  database: coach-app_test
  <<: *defaults

production:
  database: coach-app_production
  <<: *defaults
