
body{
	font-family: "Lato", Ubuntu, Arial, sans-serif;
}
p{
	font-family: Lato, sans-serif
}
.clear{
  float:none;
  content: " ";
  clear: both;
}
#featured { background: url(spinner.gif) center center #f4f4f4; height: 300px; }
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img { display: block; }
.whitebg{
  background: rgba(255,255,255,0.85);
}
#about{
	float:right;
}
.center{
	display: block;
	text-align: center;
	margin: 20px auto !important;
}
.centered{
  margin:0 auto !important;
}
.right{
  float: right !important;
}
.welcome{
	text-align: center;
	font-size: 3em;
	margin: 25px 0 15px 0;
}
.top-bar{
  background: #0f0f0f;
  height: auto;
  margin:0;
}
#featuredContent{
  width: 100%;
  position: relative;
  top:0px;
}
#featuredContent header{
  position: absolute;
  top:38%;
  left:10%;
  
}
#featuredContent header h4{
  font-size: 3em;
  color:white;
  text-shadow: 0px 0px 5px rgba(0,0,0, 0.75);
  filter: dropshadow(color=#000000, offx=0, offy=0);
}
#featuredContent header span{
  font-size: 1.5em;
  color: #E3E3E3;
  text-shadow: 0px 0px 5px rgba(0,0,0, 0.75);
  filter: dropshadow(color=#000000, offx=0, offy=0);
}
#featuredContent { background: url(spinner.gif) center center #f4f4f4; height: 300px; }
#featuredContent img { display: none; }

#featuredContent.orbit { background: none; }
#featuredContent.orbit img { display: block; }



 /* Our Pluses*/
 #ourPluses .columns h2{
  font-size: 1.8em;
  font-weight: bold;

 }

/* Main footer */
#mainFooter{
  background: #ededed;
}
#mainFooter a{
  color:#0f0f0f;
}

/* login */
html{
  min-height: 100%;
}
#loginContainer{
  height:100%;
  background: url(http://www.esplanadeberlin.com/var/plain_site/storage/images/press-photos/gym-area2/4332-1-eng-US/gym-area.jpg) center top no-repeat;
  background-size: cover;
}
#registerContainer{
  height:100%;
  background: url(http://www.esplanadeberlin.com/var/plain_site/storage/images/press-photos/gym-area2/4332-1-eng-US/gym-area.jpg) center top no-repeat;
  background-size: cover;
}
#background{
  width:100%;
  position: absolute;
  top:0;
  height: 100%;
}
/* Dropdown register */
.custom.dropdown {
  display: block;
  position: relative;
  width: 33.3% !important;
  height: 29px;
  margin-bottom: 9px;
  margin-top: 2px;
  float: left;
}
.custom.dropdown.open ul{
  width:100% !important;
}
/* Notices */
#alertBoxes .alert-box{
  padding: 10px 7px 10px;
  font-size: 16px;
}

/*Logged In Panel*/
#aboutContent{
  padding: 0 15px;
  color:#BFBFBF;
  line-height: 20px;
  font-size: 0.75em;
  margin-top:-20px;
}
#aboutContent .row{
  background: #1c1c1c;
  margin:0 0px;
}
#aboutContent .columns{
  padding-top: 10px;
  padding-bottom: 10px;
}
#aboutContent ul{
  list-style-position: inside;
}

/*Invitations*/
.invitationsList{
  list-style-position: inside;
}
.invitationsList .invItem{
  line-height: 28px;
  height:40px;
}
.invitationsList .invItem{
  line-height: 28px;
  height:40px;
}
.invitationsList .invOld{
  color: #BFBFBF;
}
.invitationsList .invItem .action{
  float: right;
  margin-left:20px;
}
#signUpForm{
  position: relative;
  margin-top: -130px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
}
select{
  margin-bottom: 12px;
}
.date label{
  float: none !important;
  clear: both;
}
.date .optional{
  width: 33.333%;
  float: left;
}
.error{
  display: block;
  margin-bottom: 5px;
  color: red;
}
.hint{
  display: block;
  margin-bottom: 25px;
  color: #a6a6a6;
}
.field_with_errors{
  padding:5px;
  border: 1px solid red;
  margin-bottom:5px;
}
.fullContent{
  background: #0f0f0f;
}
.fullContent .nav-bar{
  background: transparent;
}
.searcher{
  width: 255px;
  background: transparent !important;
}
.searcher .search{
  margin-top: -13px;
}
.searcher .search_input{
  width: 60%;
  float: left;
}
.searcher .search_submit{
  width: 40%;
  float: right;
}
.searcher:hover{
  background: transparent !important;
}


/*Message*/
.messageList{
  width: 90%;
}
.messageList .status{
  width: 15%;
}
.messageList .subject{
  width: 70%;
}
.messageList .action{
  width: 15%;
}

/*Invitations*/
.edit_invitation{
  margin-bottom: 0;
}